<h2>Edit your chap:</h2>
<%= form_with(model: [ @story, @chapter], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit "Update" %>
  </p>
<% end %>