<p id="notice"><%= notice %></p>

<h1>Stories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.name %></td>
        <td><%= story.description %></td>
        <td><%= story.author %></td>
        <td><%= link_to 'Show', story %></td>
        <% if story.user == current_user  %>
          <td><%= link_to 'Edit', edit_story_path(story) %></td>
          <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if user_signed_in?  %>
  <%= link_to 'New Story', new_story_path %>
<% end %>
<br>


