<p id="notice"><%= notice %></p>

<h2 style = "text-align: center; color: red">
  
  <%= @story.name %>
</h2>

<p style = "text-align: left">
 
  <%= @story.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story.author %>
</p>

<% @story.chapters.each do |chap| %>
  <p><%= link_to chap.name, story_chapter_path(@story, chap.id) %></p>
<% end %>
<% if @story.user == current_user %>
  <%= link_to 'Add new chap', new_story_chapter_path(@story) %>
<% end %>
<br>
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
